<div class="home relative overflow-hidden h-[110vh] flex flex-col justify-center items-center">
  <video class="z-30 h-[110vh] cmb bg-fixed" autoplay muted loop playsinline>
    <source src="/images/home/cmb.mp4" type="video/mp4" />
  </video>
  <h1 class="z-40 text-center text-[40px] sm:text-[52px] leading-[53px] sm:leading-[82px] 2xl:text-[72px] 2xl:leading-[82px] gradient-header inter-bold">
    Creating Digital Solutions <br />
    for Modern Business
  </h1>
  <p class="z-40 mt-10 px-10 sm:px-60 text-center gradient-text sm:text-[20px]">
    We believe in transforming the business lifestyle of MSMEs, corporates, and Government entities through cutting-edge web, mobile, cloud and enterprise solutions.
  </p>
<div class="bottom-line z-40 absolute bottom-0 flex gap-2 justify-around w-full p-6 bg-white text-black text-[16px] sm:text-[18px]">

    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Driving sustainable growth</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Precision in project execution</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Collaboration for impactful results</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Turning challenges into opportunities</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Driving sustainable growth</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Precision in project execution</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Collaboration for impactful results</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Turning challenges into opportunities</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Driving sustainable growth</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Precision in project execution</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Collaboration for impactful results</div>
    <div class="z-40"><fa-icon class="m-3" [icon]="faCircleCheck"></fa-icon>Turning challenges into opportunities</div>
  </div>
</div>
